<form (submit)="($event)" class="py-5 text-white">
  <fieldset class="flex flex-col">
    <label for="post-length" class="mb-2"
      >Set number of posts to render (1-20)</label
    >
    <input
      [formControl]="postsLengthControl"
      id="post-length"
      type="range"
      min="1"
      max="20"
      class="styled-slider slider-progress my-2"
      (mouseleave)="setPostLength()"
      #el
    />
    <p>
      {{ postsLengthControl.value }}
      {{
        postsLengthControl.value && postsLengthControl.value > 1
          ? "posts"
          : "post"
      }}
    </p>
  </fieldset>
</form>
